* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* h1::first-line {
  color: red;
} */

/* h1::first-letter {
  font-size: 120px;
} */

h1::selection {
  color: green;
}

p {
  /* background-color: green; */
  position: relative;
  width: fit-content;
}

/* P::before {
  position: absolute;
  top: 100%;
  content: "";
  width: 100%;
  height: 3px;
  background-color: red;
} */

P::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: red;
}

/* p::after {
  content: "";
} */
