* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: #dadada; */
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 55% 15%;
}

#left-top-left {
  /* background-color: crimson; */
  padding: 40px;
}

#square {
  background-color: black;
  rotate: 45deg;
  height: 20px;
  width: 20px;
}

#left-top-right {
  /* background-color: blueviolet; */
  /* justify-self: right;
  text-align: right; */
  justify-items: right;
  padding: 40px;
}

#left-top-right h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}

#left-top-right h5 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

#left-top-right h6 {
  display: none;
}

#left-center {
  /* background-color: royalblue; */
  grid-column: 1 / 3;
  padding: 40px;
}

#left-center h1 {
  font-size: 4.6vw;
  line-height: 5.2vw;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n) {
  /* background-color: red; */
  text-align: center;
}

#left-bottom {
  /* background-color: chartreuse; */
  grid-column: 1 / 3;
  padding: 25px;
}

#left-bottom p {
  width: 50%;
  font-size: 15px;
  font-weight: 500;
  color: #666;
}

#right {
  /* background-color: red; */
  grid-column: 3;
  grid-row: 1 / 4;
  padding: 40px;
  padding-right: 120px;
}

#right video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

#arrow {
  position: absolute;
  top: 50%;
  left: 52.5%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 50%;
}

#arrow i {
  font-size: 30px;
  font-weight: 100;
}

@media (max-width: 600px) {
  #main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 6% 40% 10% 44%;
  }

  #left-top-left {
    padding: 20px;
  }

  #square {
    height: 15px;
    width: 15px;
  }

  #left-top-right {
    padding: 20px;
    text-align: end;
  }

  #left-top-right h4 {
    display: none;
  }

  #left-top-right h5 {
    display: none;
  }

  #left-top-right h6 {
    display: block;
    font-size: 25px;
  }

  #left-center {
    padding: 40px;
    align-content: center;
    justify-self: center;
    width: 100%;
  }

  #left-center h1 {
    font-size: 10vw;
    line-height: 12.2vw;
  }

  #left-center h1:nth-child(2n) {
    text-align: right;
  }

  #left-bottom p {
    width: 100%;
    font-size: 17px;
  }

  #right {
    grid-column: 1 / 3;
    grid-row: 4;
    padding: 10px;
  }

  #arrow {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding: 10px;
  }
}
